.all-content {
  justify-content: center;
  align-items: center;
  padding: 20px 250px;
  // font-family: 'Montserrat', sans-serif;

  .title {
    text-align: center;

    .p-title {
      font-size: 45px;
      font-style: normal;
    }

    p {
      font-style: italic;
      font-size: 18px;
    }
  }

  .plink-wrapper {
    text-align: center;
    color: #152b65;
    margin-top: 80px;
    display: block;

    a {
      text-underline-offset: 8px;

      &:hover {
        color: rgb(172, 39, 146);
      }
    }
  }

  .cars-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    img {
      height: 45%;
      width: 45%;
      padding-right: 40px;
    }

    h2 {
      font-weight: 400;
    }

    button {
      background-color: #3151aa;
      color: white;
      border-radius: 50px;
      text-decoration: none;
      border-color: transparent;
      font-weight: 700;
      font-size: 0.9375rem;
      // background-image: none;
      margin: 20px auto 0 0;
      padding: 10px 28px;

      transition: 0.3s ease-in-out;

      &:hover {
        color: white;
        background-color: orangered;
      }
    }

    .seat-img-wrapper {
      display: flex;
      align-items: flex-start;
      margin-top: 10px;

      img {
        height: 16px;
        width: auto;
        padding: 0 7px;
      }

      p {
        margin: 0;
        padding-right: 5px;
      }
    }
  }
}

@media (max-width: 916px) {
  .all-content {
    padding: 20px 50px;
  }

  .all-content .title .p-title {
    font-size: 35px;
  }

  .all-content .title p {
    font-size: 16px;
  }

  .all-content .plink-wrapper {
    margin-top: 60px;
  }

  .all-content .cars-wrapper img {
    height: 35%;
    width: 35%;
    padding-right: 20px;
  }

  .all-content .cars-wrapper h2 {
    font-size: 24px;
  }

  .all-content .cars-wrapper button {
    font-size: 0.8rem;
    margin: 15px auto 0 0;
    padding: 8px 20px;
  }

  .all-content .cars-wrapper .seat-img-wrapper img {
    height: 14px;
    padding: 0 5px;
  }

  .all-content .cars-wrapper .seat-img-wrapper p {
    font-size: 14px;
    padding-right: 3px;
  }
}

@media (max-width: 664px) {
  .all-content {
    padding: 20px 30px;
  }

  .all-content .title .p-title {
    font-size: 30px;
  }

  .all-content .title p {
    font-size: 14px;
  }

  .all-content .plink-wrapper {
    margin-top: 40px;
  }

  .all-content .cars-wrapper {
    flex-direction: column;
    display: flex;
    align-items: left;
  }

  .all-content .cars-wrapper img {
    height: 50%;
    width: 50%;
    padding-bottom: 20px;
  }

  .all-content .cars-wrapper h2 {
    font-size: 20px;
  }

  .all-content .cars-wrapper button {
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 20px auto 0 0;
    padding: 10px 28px;
  }

}

@media (max-width: 414px) {
  .all-content {
    padding: 20px 15px;
  }

  .all-content .title .p-title {
    font-size: 28px;
  }

  .all-content .title p {
    font-size: 12px;
  }

  .all-content .plink-wrapper {
    margin-top: 30px;
  }

  .all-content .cars-wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .all-content .cars-wrapper img {
    height: 60%;
    width: 60%;
    padding-bottom: 15px;
  }

  .all-content .cars-wrapper h2 {
    font-size: 18px;
  }

  .all-content .cars-wrapper button {
    font-size: 0.8rem;
    margin: 15px auto;
    padding: 8px 16px;
  }

  .all-content .cars-wrapper .seat-img-wrapper img {
    height: 10px;
    padding: 0 2px;
  }

  .all-content .cars-wrapper .seat-img-wrapper p {
    font-size: 10px;
    padding-right: 1px;
  }
}
