.footer-wrapper {
    background-color: rgb(61, 60, 60);
    text-align: center;

    p {
        padding: 50px 100px;
        color: white;

        a {
            color: lightblue;
            transition: 0.1s ease-in;
            &:hover {
                text-decoration: none;
                color: grey;
            }
        }
    }
}
